<ul
style="background-color: #000000"
  class="navbar-nav   sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href=""
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i   style="color: #F04819";   class="fas fa-camera-retro"></i>
    </div>
    <div  style="color: #F04819";   class="sidebar-brand-text mx-3">NusaKamera</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">
      <i style="color: #F04819"; class="fas fa-home"></i>
      <span style="color: #F04819";>Dashboard</span></a
    >
  </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/booking">
        <i style="color: #F04819"; class="fas fa-calendar"></i>
        <span style="color: #F04819"; >Booking</span></a
      >
    </li>
  <!-- Divider -->
  <hr  class="sidebar-divider" />

  <!-- Heading -->
  <!-- <div class="sidebar-heading">Master</div> -->

  <% if (user.status != 'staff'){  %> 
  <li class="nav-item">
    <a class="nav-link" href="/admin/product">
      <i style="color: #F04819" class="fas fa-fw fa-camera"></i>
      <span style="color: #F04819" > Produk</span></a
    >
  <% }%> 

 <!-- Nav Item - List Transaksi -->
  <% if (user.status == 'admin'){  %> 
    <li class="nav-item">
      <a class="nav-link" style="color: #F04819" href="/admin/user">
        <i class="fas fa-fw fa-user" style="color: #F04819"></i>
        <span> Karyawan</span></a
      >
  <% }%> 
 
 
</li>
 
  <!-- Nav Item - Item -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/customer">
      <i class="fas fa-fw fa-users" style="color: #F04819"></i>
      <span style="color: #F04819">Customer</span></a
    >
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
