<!-- Modal -->
<div class="modal fade" id="add-product" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/product" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name </label>
            <input type="text" class="form-control" name="product_name" placeholder="Enter Name Product" required />
          </div>
          <div class="form-group">
            <label for="name">Type</label>
            <select class="form-control" name="tipe">
              <option value="">---- Type ----</option>
               <option value="Camera" >Camera</option>
               <option value="Tripod" >Tripod</option>
               <option value="Lighting" >Lighting</option>
               <option value="Audio" >Audio</option>
               <option value="Tripod" >Tripod</option>
               <option value="Stabilizer" >Stabilizer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Barcode</label>
            <input type="text" class="form-control" name="barcode" placeholder="Enter Barcode"
            required />
          </div>

          <div class="form-group">
            <label for="name">Price</label>
            <input type="number" class="form-control"  name="price" placeholder="Enter Price"
              required />
          </div>
          <div class="form-group">
            <label for="name">Status Produk</label>
            <select class="form-control" name="status_produk">
              <option value="">---- Status Produk ----</option>
               <option value="Avalaible" >Avalaible</option>
               <option value="Not Avalaible" >Not Avalaible</option>
            </select>
          </div>
        

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

